@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.home-body {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px 0px 40px;
}

.body-data {
    text-align: center;
    width: 50%;
    margin: 160px 0px 0px 50px;
}

.body-heading {
    font-family: 'Kaushan Script', cursive;
    font-size: 6rem;
}

.tagline {
    font-size: xx-large;
}