<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="form">
        <h2>Add work to list:</h2>
        <form method="post" action="/">
            <label for="desc"><input id="desc" value="" type="text" name="description"><br/>
            <label for="deadline"><input id="deadline" type="date" value="deadline"><br/>
            <input id="submit" type="submit"><br/>
        </form>
    </div>
</body>
</html>